In [9]:
#pip install jupyter_contrib_nbextensions && jupyter contrib nbextension install

In [10]:
# install
#!pip install pretty-jupyter

In [11]:
# export
#jupyter nbconvert --to html --template pj /path/to/ipynb/file

In [12]:
#bez instalowania paczek do ladnych raportow
#[Link Text](#Target-Header) # musza byc myslniki zamiast spacji

## opis kolumn

    Booking_ID: unique identifier of each booking
    no_of_adults: Number of adults
    no_of_children: Number of Children
    no_of_weekend_nights: Number of weekend nights (Saturday or Sunday) the guest stayed or booked to stay at the hotel
    no_of_week_nights: Number of week nights (Monday to Friday) the guest stayed or booked to stay at the hotel
    type_of_meal_plan: Type of meal plan booked by the customer:
    required_car_parking_space: Does the customer require a car parking space? (0 - No, 1- Yes)
    room_type_reserved: Type of room reserved by the customer. The values are ciphered (encoded) by INN Hotels.
    lead_time: Number of days between the date of book
    arrival_date: Date of the monthing and the arrival date
    arrival_year: Year of arrival date
    arrival_month: Month of arrival date
    market_segment_type: Market segment designation.
    repeated_guest: Is the customer a repeated guest? (0 - No, 1- Yes)
    no_of_previous_cancellations: Number of previous bookings that were canceled by the customer prior to the current booking
    no_of_previous_bookings_not_canceled: Number of previous bookings not canceled by the customer prior to the current booking
    avg_price_per_room: Average price per day of the reservation; prices of the rooms are dynamic. (in euros)
    no_of_special_requests: Total number of special requests made by the customer (e.g. high floor, view from the room, etc)
    booking_status: Flag indicating if the booking was canceled or not.

# Table of Contents

1. [Wczytanie bibliotek](#Wczytanie-bibliotek)
2. [EDA and Data Cleaning](#EDA-and-Data-Cleaning)

# Wczytanie bibliotek

In [25]:
#%reset #służy do czyszczenia interaktywnej przestrzeni nazw, ale umożliwia również czyszczenie pamięci podręcznej wejścia i wyjścia
#import pprint
#a
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import seaborn as sns
import time

# do pomiaru czasu uczenia modeli
# %time podaje czas
# %timeit mierzy kilka razy i podaje uśrednioną wartość (dokładniejszą) - samo dostosowuje liczbe ile razy mierzy
#jesli daje jeden procent '%' to mierzy tylko daną linie, jesli dwa procenty to ustawiam na początku komórki
#ten procent w lniijce dziala tylko w notebookach
#poza trzebaby uzyc:import timeit
# def load_csv():
#     df = pd.read_csv("Hotel Reservations.csv")

# timeit.timeit(load_csv, number=100)

%matplotlib inline

# EDA and Data Cleaning

In [42]:
%time df = pd.read_csv("Hotel Reservations.csv")
# #CPU times shows the time you used your CPU.
# Wall time shows the real time elapsed since the beginning of the cell. This is the time you are interested in.
df2= df.copy() #dane do wizualizacji

CPU times: total: 62.5 ms
Wall time: 65.9 ms

In [44]:
df.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

In [ ]:
#wyrzucam kolumne Booking_ID bo to zbędny indeks

#do operacji usunięcia kolumny stosujemy metode 'drop' z parametrem axis=1 , do wierszy axis=0
df = df.drop('Booking_ID', axis=1)
df.head()

In [ ]:
df.shape

In [ ]:
#mamy 36 tysiecy wierszy i 19 kolumn

### zamiana zmiennych kategorycznych w postaci tekstu na liczby

In [ ]:
df.nunique()

In [ ]:
df=df.drop(columns=["Booking_ID"])

In [ ]:
#nazwy kolumn
list(df)

In [45]:
# df.info() pokazuje wiecej niz 
# df.dtypes
df.info()
#sprawdzam typy danych czy sa rozne ilosci niepustych wartosci w kolumnach
# juz widac ze nie ma pustych wartosci w zbiorze
# gdyby byly puste wartosci mozna je w najprostszy sposob zastapiac srednia, mediana,
# lub zastosowac
# data = data.fillna(method='ffill') 
# which fills the last observed non-null value forward until another non-null value is encountered.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Booking_ID                            36275 non-null  object
 1   no_of_adults                          36275 non-null  int64
 2   no_of_children                        36275 non-null  int64
 3   no_of_weekend_nights                  36275 non-null  int64
 4   no_of_week_nights                     36275 non-null  int64
 5   type_of_meal_plan                     36275 non-null  object
 6   required_car_parking_space            36275 non-null  int64
 7   room_type_reserved                    36275 non-null  object
 8   lead_time                             36275 non-null  int64
 9   arrival_year                          36275 non-null  int64
 10  arrival_month                         36275 non-null  int64
 11  arrival_date                          36275 non-null  int64
 12  market_segment_type                   36275 non-null  object
 13  repeated_guest                        36275 non-null  int64
 14  no_of_previous_cancellations          36275 non-null  int64
 15  no_of_previous_bookings_not_canceled  36275 non-null  int64
 16  avg_price_per_room                    36275 non-null  float64
 17  no_of_special_requests                36275 non-null  int64
 18  booking_status                        36275 non-null  object
dtypes: float64(1), int64(13), object(5)
memory usage: 5.3+ MB

In [ ]:
# Sa tu dane kategoryczne w postaci liczb calkowitych, object ktore sa tak naprawde string (bo wczytujemy z csv) oraz dane zmiennoprzecinkowe liczbowe ciągłe

Od razu widać też, że nie mamy pustych wartości, ale sprawdzę to jeszcze funkcją isna.

In [ ]:
#liczba pustych wartosci w kolumnach
# isnull is an alias for isna
#df.isnull().sum()
df.isna().sum()

Nie ma pustych komórek więc nie trzeba ich usuwać lub uzupełniać.

### zamiana zmiennych kategorycznych w postaci tekstu na liczby

In [49]:
# Sprawdźmy kolumny w których nie mamy danych liczbowych
non_float_columns = df.select_dtypes(exclude=['float', 'int']).columns

print("Kolumny z typami danych innymi niż liczbowe:")
print(non_float_columns)

Kolumny z typami danych innymi niż liczbowe:
Index(['Booking_ID', 'type_of_meal_plan', 'room_type_reserved',
       'market_segment_type', 'booking_status'],
      dtype='object')

In [52]:
df[non_float_columns].head()

,Booking_ID,type_of_meal_plan,room_type_reserved,market_segment_type,booking_status
0,INN00001,Meal Plan 1,Room_Type 1,Offline,Not_Canceled
1,INN00002,Not Selected,Room_Type 1,Online,Not_Canceled
2,INN00003,Meal Plan 1,Room_Type 1,Online,Canceled
3,INN00004,Meal Plan 1,Room_Type 1,Online,Canceled
4,INN00005,Not Selected,Room_Type 1,Online,Canceled

In [ ]:
#sprawdzam jakie wartości mają kolumny z tekstem
#gdyby był błąd w ramce typu, że Room_Type 4 by był zapisany jeszcze jako Room Type 4 gdzieś to można użyc funkcji where aby zastapic poprawna wartoscia
# df['room_type_reserved'] = np.where(df['room_type_reserved']=='Room Type 4', 'Room_Type 4', df['room_type_reserved'])
df[non_float_columns].unique().tolist()
unique1=df['type_of_meal_plan'].unique().tolist()
unique2=df['room_type_reserved'].unique().tolist()
unique3=df['market_segment_type'].unique().tolist()
#oraz zmienna ktora bedziemy przewidywac
unique4=df['booking_status'].unique().tolist()
print(unique1)
print(unique2)
print(unique3)
print(unique4)

Ponieważ większość algorytmów uczenia maszynowego woli zmienne liczbowe od tekstowych dokonam zamiany z tekstu na liczby.

In [ ]:
df.columns

In [ ]:
# I SPOSOB
#za pomoca sklearn tworzy poprostu liczby zamiast kategorii

# from sklearn.preprocessing import LabelEncoder
# le = LabelEncoder()
# df['type_of_meal_plan'] = le.fit_transform(df.type_of_meal_plan)
# print(df['type_of_meal_plan'].value_counts())
# print(df['type_of_meal_plan'].sample(5))

#ale tutaj zastosuje one hot encoding bo nie widze hierarchii



#sprobuje one-hot-encoding bo nie widze hierarchii

df = pd.get_dummies(data=df, columns = ['type_of_meal_plan', 'room_type_reserved', 'market_segment_type'])

#wszystko sie zaczyna od 0


# II SPOSOB

# class_mapping1 = {value: index for index, value in enumerate(unique1)} #tworzenie slownika jednoliniowo
# df['type_of_meal_plan'] = df['type_of_meal_plan'].map(class_mapping1)

# class_mapping2 = {value: index for index, value in enumerate(unique2)}
# df['room_type_reserved'] = df['room_type_reserved'].map(class_mapping2)

# class_mapping3 = {value: index for index, value in enumerate(unique3)}
# df['market_segment_type'] = df['market_segment_type'].map(class_mapping3)

# III SPOSOB

# #eq do 0 - 1 tylko
#zmienna przewidywana
df['booking_status'] = df['booking_status'].eq('Not_Canceled').astype(int)

#######################
#The eq() method compares each value in a DataFrame to check if it is equal to a specified value, or a value from a specified DataFrame objects, and returns a DataFrame with boolean True/False for each comparison
#not canceled stał sie '0' a canceled '1'
#######################

#przyklady inne

# IV SPOSOB

# albo replace - rowniez do wiekszej liczby kategorii, za pomocą słownika
#data['Gender'] = data['Gender'].replace({'Male': 1, 'Female': 0})

# V SPOSOB
#albo mapowaniem ręcznym
# class_mapping = {'Eco': 0, 'Eco Plus': 1, 'Business': 2}
# data['Class'] = data['Class'].map(class_mapping)

In [ ]:
df.shape 
#zwiekszyla sie liczba kolumn o liczbe kategorii w kolumnach dodanych w get dummies

In [ ]:
df.head()
#nowe kolumyn z get_dummies dodały sie na koniec

In [ ]:
list(df)

In [ ]:
#mozna by stworzyc nowe kolumny z czasem

#### czy usuwac elemnty kodu ktore nic nie wnosza dla widza a sa dla mnie zeby spojrzec na dane?> nie do pliku raportu a do pliku do prezentacji tak

In [ ]:
df.describe().round(2)
# funkcja pokazujaca podstawowe statystyki dla kolumn liczbowych
#trzeba spojrzec czy nie rozni sie bardzo min od np 1 kwartyla

# Wizualizacja

narysowac cos z podzialem na czas bo jego jeszcze nie wykorzystalem wgl

In [ ]:
#Jeśli mogę cokolwiek powiedzieć o jakims wykresie to zostawić

In [ ]:
df['booking_status'].value_counts().index

In [ ]:
plt.bar(df2['booking_status'].value_counts().index, df2['booking_status'].value_counts())
plt.xlabel('Booking Status')
plt.ylabel('Liczba wystąpień')
plt.title('Liczba odwołań')

plt.show()

Liczba odwołan jest 2 razy mniejsza od rezerwacji gdzie nie było odwołań.

In [ ]:
filtered_df = df2[df2['room_type_reserved'] != 'Room_Type 1']
filtered_df.head()

In [ ]:
#kilka wykresow naraz za pomoca subplot

In [ ]:
df2['room_type_reserved'].value_counts()

In [ ]:
fig, axes = plt.subplots(nrows=4, ncols=1, figsize=(10, 12))


#dla podwykresow musimy ustawic `set_title/set_xlabel/set_ylabel` a nie title/xlabel/ylabel bo one sa do calego rysunku
sns.boxplot(data=df2, x='type_of_meal_plan', y='avg_price_per_room',ax=axes[0])
axes[0].set_title('Rozkład cen pokoi według typu posiłku')
axes[0].set_xlabel('Rodzaj planu żywieniowego')
axes[0].set_ylabel('Cena pokoju (w euro)')

sns.countplot(data=df2, x='type_of_meal_plan', ax=axes[1])
axes[1].set_title('Ilość rezerwacji według rodzaju planu żywieniowego')
axes[1].set_xlabel('Rodzaj planu żywieniowego')
axes[1].set_ylabel('Liczba rezerwacji')


#trzeba pamiec zeby wpisac wszystie rodzaje zmiennych chyba ze chcemy wykluczyc z wykresu jakas, bo pominalem Room_type 7 i zmienila sie skala
room_type_order = ['Room_Type 1', 'Room_Type 2', 'Room_Type 3', 'Room_Type 4', 'Room_Type 5', 'Room_Type 6', 'Room_Type 7']

#
#df_bez_Room_1 = df2[df2['room_type_reserved'] != 'Room_Type 1']
#zamiast wyrzucac Room1 ktore zaburza zakres osi y, zmienie zakres
sns.countplot(data=df2, x='room_type_reserved', ax=axes[2], order=bez_1_room_type_order)
axes[2].set_title('Ilość rezerwacji według typów pokoji')
axes[2].set_xlabel('Typ pokoju')
axes[2].set_ylabel('Liczba rezerwacji')
axes[2].set_ylim(top=1000)  # adjust the top leaving bottom unchanged


sns.boxplot(data=df2, x='room_type_reserved', y='avg_price_per_room', ax=axes[3], order=room_type_order)
axes[3].set_title('Rozkład cen pokoi według typu pokoju')
axes[3].set_xlabel('Typ pokoju')
axes[3].set_ylabel('Cena pokoju (w euro)')
#Obrocenie podpisow osi x
axes[2].tick_params(axis='x', rotation=45)

# Adjust layout to prevent clipping of titles
plt.tight_layout()

# Show the plots
plt.show()
#posortowac

In [ ]:
plt.scatter(df.no_of_weekend_nights, df.no_of_week_nights, alpha=0.01)
plt.grid(color='green', linestyle='dotted', linewidth=0.8)
#sprobowac pokolorowac na kolor czy odwolane czy nie
#sprawdzmy czy danea sa prawidlowe np czy liczba zarezerowania dni w weekend jest skorelowana z liczba
#dni na tygodniu czyli np cyz ktos zostal na pelne 2 tyg

Liczba dni rezerwacji na tygodniu i na weekend są liniowo skorelowane. Dodatkowo widać, że najwięcej osób rezerwuje 5 dni roboczych lub 2 dni weekendowe lub to i to

In [ ]:
sns.set(style="whitegrid")
plt.figure(figsize=(10, 6))
sns.countplot(data=df2, x='type_of_meal_plan')
plt.title('Ilość rezerwacji według rodzaju planu żywieniowego')
plt.xlabel('Rodzaj planu żywieniowego')
plt.ylabel('Liczba rezerwacji')
plt.show()

Jest tylko 5 rezerwacji z wybranym 'Meal Plan 3'.

In [ ]:
df2.hist(bins=50, figsize=(20,15))

plt.show()

### Korelacja

In [ ]:
correlation_matrix = df2.corr().round(2)

plt.figure(figsize=(20, 15))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')
plt.xticks(fontsize=10)
plt.yticks(fontsize=10)
plt.title("Macierz Korelacji")

plt.show()

#### Histogram korelacji

In [ ]:
corr_values = df2.corr()
corr_values

In [ ]:
tril_index = np.tril_indices_from(corr_values)
tril_index

In [ ]:
corr_array = np.array(corr_values)

In [ ]:
corr_values = pd.DataFrame(corr_array, columns=corr_values.columns, index=corr_values.index)
corr_values

In [ ]:
#wylaczenie warnings
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

In [ ]:
corr_values = df2.corr()
corr_array = np.array(corr_values)
corr_values = pd.DataFrame(corr_array, columns=corr_values.columns, index=corr_values.index)
corr_values
tril_index = np.tril_indices_from(corr_values)
#trill indices from zwraca indeksy ktore są macierzą dolnie trojkątną
#macierz koerealcji jest symetryczna wiec wystarczy nam gornie trojkatna
# Make the unused values NaNs
for coord in zip(*tril_index):
    corr_values.iloc[coord[0], coord[1]] = np.NaN #ustawiamy na wartosc na `NA` wszystko na dolnie trjkatnej
    
    
    # co to zip(*tril_index)
#####
# tril_index = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

# # Rozpakowywanie np tuple przy użyciu *
# result = zip(*tril_index)

# # Wynik to zip((1, 2, 3), (4, 5, 6), (7, 8, 9))

#stack() w Pandas służy do przekształcania DataFrame'u z dwoma poziomami indeksu (np. macierzy korelacji) na Series, 
#usuwając jednocześnie jedno z wymiarów indeksu.
#to_frame(): Metoda to_frame() zamienia Series na DataFrame. W tym przypadku,
#po użyciu stack(), mamy teraz jednowymiarową serię korelacji, a to_frame() zamienia ją na jednokolumnowy DataFrame.
#dalej reset index usuwa index co byl i robi normalny 0,1,2,3, itd
#rename zmienia nazwy kolumn
corr_values = (corr_values
               .stack()
               .to_frame()
               .reset_index()
               .rename(columns={'level_0':'feature1',
                                'level_1':'feature2',
                                0:'correlation'}))
corr_values['abs_correlation'] = corr_values.correlation.abs()

#jest komunikat o kolumnach ktore nie sa z wartosciami liczbowymi wiec wylacze komunikaty

In [ ]:
sns.set_context('talk')
sns.set_style('white')

ax = corr_values.abs_correlation.hist(bins=50, figsize=(12, 8))
ax.set(xlabel='Absolute Correlation', ylabel='Frequency');

In [ ]:
# from pandas.plotting import scatter_matrix

# scatter_matrix(df2, figsize=(30, 20))

Zobaczmy które zmienne miały korelacje powyżej 0.2

In [ ]:
# The most highly correlated values
#Query the columns of a DataFrame with a boolean expression
#query sluzy do filtrowania
corr_values.sort_values('correlation', ascending=False).query('abs_correlation>0.2')

## Obserwacje odstające

In [ ]:
df.shape

In [ ]:
# for col in df.columns:
#     mean = df[col].mean()
#     sd = df[col].std()
#     data = df[(df[col] <= mean+(2*sd))]
    #usuwa wszystkie wartości większe lub równe średnia +2 razy odchylenie standardowe

In [ ]:
# df.shape

In [ ]:
def identify_outliers(column):
    Q1 = column.quantile(0.25)
    Q3 = column.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = (column < lower_bound) | (column > upper_bound)
    return outliers
#usuwa wszystkie obserwacje odstające w 'rozumieniu boxplota'

In [ ]:
# outliers_in_columns = df.apply(identify_outliers) # Zidentyfikowanie outliers w każdej kolumnie

# outliers_count_per_column = outliers_in_columns.sum()
# print(outliers_count_per_column)

# df = df[~outliers_in_columns]  # Usunięcie outliers z ramki danych
# df.head()

# number of weekend nights sie przyjrzzec

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
#moze jakis test statystyczny czy jest rozklad normalny np
# albo roznica miedzy dwoma sezonami

In [ ]:
#sprawdzmy korelacje liniowa pearsona

In [ ]:
# correlation_coefficient, p_value = pearsonr(df.no_of_weekend_nights, df.no_of_week_nights)

In [ ]:
#ale wykonac wielowymiarowa analize danych moglbym najpierw
#wykonac polecenie w R i sprawdzic wynik z funkcja z pythona

In [ ]:
#sprobowac machine laerning, jakies wizualizacje, moze jakies hioptezy stastystyczne

W modelu predykcji pomine kolumny arrival_year, arrival_month, arrival_date

In [ ]:
#train_test_split jest najprostrzym podziałem, StratifiedShuffleSplit dba o to aby było równy stosunek w zbiorze testowym i uczącym tego co przewidujemy

In [ ]:
df['booking_status']

In [ ]:
df.Booking_status

# Predykcja

In [ ]:
# StratifiedShuffleSplit bardziej skomplikowany podział dzieli na zbiory treningowy
#i testowy, przy jednoczesnym zachowaniu proporcji klas (etykiet) w obu tych zbiorach.

# I sposob
from sklearn.model_selection import StratifiedShuffleSplit
# split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
# for train_index, test_index in split.split(housing, housing["income_cat"]):
# strat_train_set = housing.loc[train_index]
# strat_test_set = housing.loc[test_index]
# from sklearn.model_selection import StratifiedShuffleSplit




# II sposob
predictors = [col for col in list(df) if col != 'booking_status']

#feature cols
X = df[predictors]

#Y
Y = df['booking_status']
# Get the split indexes
#n splits - na ile zbiorow uczacych i testowych dzielimy
# test_size dzieli 0.7 to zbiór treningowy a testowy to 0.3
strat_shuf_split = StratifiedShuffleSplit(n_splits=1, 
                                          test_size=0.2, 
                                          random_state=7)

train_idx, test_idx = next(strat_shuf_split.split(X, Y))

# Create the dataframes
x_train = df.loc[train_idx, predictors]
y_train = df.loc[train_idx, 'booking_status']

x_test  = df.loc[test_idx, predictors]
y_test  = df.loc[test_idx, 'booking_status']

In [ ]:
y_train_value.value_counts(normalize=True)
#normalize daje nam proporcje zamiast liczb - latwiej odczytac

In [ ]:
x_train.head()

In [ ]:
# II sposob za pomoca prostrzej funkcji do podziału na zbiór uczący i testowy

In [ ]:
from sklearn.model_selection import train_test_split

predictors = [col for col in list(df) if col != 'booking_status']
#predictors = list(data.columns[:15])
X = df[predictors]
Y = df['booking_status']

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=7)
#dzieli 0.8 to zbiór treningowy a testowy to 0.2

In [ ]:
counts_train = np.bincount(y_train)
print("Liczba 0 w y_train:", counts_train[0])
print("Liczba 1 w y_train:", counts_train[1])

counts_test = np.bincount(y_test)
print("Liczba 0 w y_test:", counts_test[0])
print("Liczba 1 w y_test:", counts_test[1])

jest około 2 razy więcej nieodwołanych w zbiorze uczącym i testowym tak samo jak w oryginalnym zbiorze.

In [ ]:
# Regresja logistyczna nie akceptuje pustych wartosci

In [ ]:
df.isnull().sum()

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
model = LogisticRegression(max_iter=10000)

%time model.fit(x_train, y_train)

y_pred = model.predict(x_test)

accuracy = accuracy_score(y_test, y_pred)
print('Accuracy: ' + str(accuracy))

 po zastosowaniu StratifiedShuffleSplit Regresja logistyczna ma lepsze accuracy

jakie metryki zastosowac do zmierzenia poprawnosci modleu jesli jest stosunek w y 1:2 kontynuowac lab2

In [ ]:
#Regresja logistyczna accuracy 0.8038594
#po zastosowaniu one hot encoding
# ze zwykłym enkodowaniem 0.78

In [ ]:
# cm: Macierz pomyłek wygenerowana wcześniej.
# annot=True: Określa, czy wartości macierzy mają być wyświetlane na heatmapie. Jeśli True, to wartości zostaną wyświetlone na heatmapie.
# fmt='d': Określa format wartości na heatmapie. W tym przypadku 'd' oznacza format liczb całkowitych.
# cmap='Blues': Określa paletę kolorów używaną w heatmapie. W tym przypadku używana jest paleta "Blues".

In [ ]:
from sklearn.metrics import confusion_matrix
confusion = confusion_matrix(y_test, y_pred)
print('Confusion Matrix:')
print(confusion)

In [ ]:
confusion = confusion_matrix(y_test, y_pred)

# Stwórz heatmapę
sns.heatmap(confusion, annot=True, fmt='d', cmap='Blues')
plt.xlabel('Predicted')
plt.ylabel('True')
plt.title('Confusion Matrix Heatmap')
plt.show()

Do testów tych należą testy nieparametryczne takie jak test niezależności chi-kwadrat
Pearsona, jak i testy parametryczne, takie jak test z i test t dla dwóch średnich. Druga grupa to opisowe metody
analizy korelacji, polegające na znajdowaniu zależności pomiędzy zmiennymi bez podziału na zmienną zależną
i zmienne niezależne. W metodach tych wykorzystuje się współczynniki przeznaczone zarówno dla zmiennych
mierzonych na skali nominalnej, jak i porządkowej, takie jak współczynniki korelacji liniowej Pearsona, rang
Spearmana i tau Kendalla.

In [ ]:
#plotly express zobaczyc biblioteke