In [31]:
# !pip uninstall matplotlib
# !pip install matplotlib.pyplot==3.7.3 --user

# !pip uninstall seaborn
# !pip install seaborn==0.13 --user

In [56]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import scipy.stats as st
import seaborn as sns
import time

In [57]:
print(sns.__version__)
print(mpl.__version__)

0.11.2
3.5.2

In [58]:
df = pd.read_csv("Hotel Reservations.csv")
df = df.drop('Booking_ID', axis=1)
df2=df.copy()

In [59]:
df.head()

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

In [60]:
df['booking_status'] = df['booking_status'].eq('Not_Canceled').astype(int)
#jakbysmy dali Canceled w eq to 0 i 1 by się zamieniły

In [61]:
df.head()

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,1
1,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,1
2,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,0
3,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,0
4,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,0

In [62]:
condition = (df['avg_price_per_room'] == 0)

count_zero_values = condition.sum()

print(f'Liczba wierszy z wartością 0 w kolumnie avg_price_per_room: {count_zero_values}')

#df = df[~condition]

Liczba wierszy z wartością 0 w kolumnie avg_price_per_room: 545

0        False
1        False
2        False
3        False
4        False
         ...
36270    False
36271    False
36272    False
36273    False
36274    False
Length: 36275, dtype: bool

In [64]:

# Warunek dla wartości 0 w ostatniej kolumnie, pod warunkiem 'avg_price_per_room' == 0
condition_0 = (df['avg_price_per_room'] == 0) & (df.iloc[:, -1] == 0)
condition_0

# Warunek dla wartości 1 w ostatniej kolumnie, pod warunkiem 'avg_price_per_room' == 0
condition_1 = (df['avg_price_per_room'] == 0) & (df.iloc[:, -1] == 1)

# Liczba wierszy z wartością 0 w ostatniej kolumnie
count_0_values = condition_0.sum()

# Liczba wierszy z wartością 1 w ostatniej kolumnie
count_1_values = condition_1.sum()

print(f'Liczba wierszy z wartością 0 w ostatniej kolumnie, dla avg_price_per_room == 0: {count_0_values}')
print(f'Liczba wierszy z wartością 1 w ostatniej kolumnie, dla avg_price_per_room == 0: {count_1_values}')

Liczba wierszy z wartością 0 w ostatniej kolumnie, dla avg_price_per_room == 0: 6
Liczba wierszy z wartością 1 w ostatniej kolumnie, dla avg_price_per_room == 0: 539

In [ ]:
Widać, że prawie zawsze loty nie były odwoływane gdy wartość avg_price_per_room wynosiła zero

In [46]:
#warto sie zastanowic skad sie biora np takie zera i czemu one akurat psuja accuracy jesli je wyrzuce, moze to jakis
#blad systemy ktory rzeczywiscie wplywal na wyrzucenie

In [21]:
df = pd.get_dummies(data=df, columns = ['type_of_meal_plan', 'room_type_reserved', 'market_segment_type'])

In [26]:
# correlation_matrix = df.corr().round(2)
# plt.figure(figsize=(25, 25))
# sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')
# plt.xticks(fontsize=10)
# plt.yticks(fontsize=10)
# plt.title("Macierz Korelacji")

# plt.show()

In [9]:
# df.isna().sum()

In [10]:
# df.describe().round(2)

In [11]:
#regresja logistyczna

In [12]:
import sklearn
print(sklearn.__version__)

1.3.2

In [23]:
from sklearn.model_selection import train_test_split

predictors = [col for col in list(df) if col != 'booking_status']
#predictors = list(df.columns[:15])
X = df[predictors]
y = df['booking_status']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42, stratify=y)
#dzieli 0.8 to zbiór treningowy a testowy to 0.2

In [24]:
y_train.value_counts(normalize=True)

1    0.672364
0    0.327636
Name: booking_status, dtype: float64

In [25]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
model = LogisticRegression(max_iter=10000)

%time model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print('Accuracy: ' + str(accuracy))

Wall time: 6.3 s
Accuracy: 0.8048931771192281